.view-tenth img {
   -webkit-transform: scaleY(1);
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color: rgba(255, 231, 179, 0.3);
   transition: all 0.5s linear;
   opacity: 0;
}
.view-tenth h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   color: #333;
   transition: all 0.5s linear;
   opacity: 0;
}
.view-tenth p {
   color: #333;
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   transition: all 0.5s linear;
}
.view-tenth a.info {
   opacity: 0;
   -webkit-transform: scale(0);
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   opacity: 0;
}
.view-tenth:hover .mask {
   opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   opacity: 1;
}
				