@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Roboto+Condensed:400,700,300|Oxygen+Mono);

@import (inline) url(prism.css);
@import (inline) url(font-awesome.min.css);

@import "vars";
@import url(./_components/layout.less);
@import url(./_components/brand.less);
@import url(./_components/nav-content.less);
@import url(./_components/header-nav.less);
@import url(./_components/titlebar.less);
@import url(./_components/article.less);
@import url(./_components/markdowned.less);
@import url(./_components/button.less);
@import url(./_components/sidenav.less);
@import url(./_components/downloads.less);
@import url(./_components/tags.less);
@import url(./_components/badge.less);
@import url(./_components/grid.less);
@import url(./_components/burger.less);
@import url(./_components/lesson.less);
@import url(./_components/utils.less);

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  font: 14px 'Droid Sans', sans-serif;
  line-height: 1.42857143;
  display: flex;
  flex-direction: column;
}

a {
  color: @primary;
}

.main-level {
  flex: 1;
}

.caps {
  font-weight: bold;
}

.text-content {
  background-color: @gray20;
  padding: 1em;
  white-space: pre-wrap;
}

.container {
  // display: flex;
  // justify-content: center;
  &__center {
    // flex: 0 1 1170px;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.simple-row {
  display: flex;
  &--footer {
    justify-content: space-between;
    align-items: center;
  }
  &--header {
    @media only screen
    and (max-width : 768px) {
      flex-direction: column;
    }
  }
  &--brandbar {
    @media only screen
    and (max-width : 768px) {
      align-items: center;
      justify-content: space-between;
      padding: .5em 1em;
    }
  }
}

.global-nav {
  background-color: @primary10;
  & > * {
    background-color: @primary;
  }
}

.main-titlebar {
  background-color: @primary20;
  & > * {
    background-color: @secondary;
  }
}

.global-footer {
  background-color: @gray10;
  & > * {
    background-color: @gray;
    padding: 1.3em;
  }
  p {
    margin: 0;
    color: @white;
  }
  svg {
    .slash, .tag, .letter {
      fill: @white;
    }
  }
}

.side-nav-inner {
  @media only screen
  and (min-width : 769px) {
    padding-right: 1em;
  }
}

code {
  color: @primary;
  background-color: lighten(@primary, 43%);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 1px 5px;
  font-size: .9em;
  border-radius: .2em;
}
