@primary: #2980b9;
@secondary: darken(@primary, 15%);
@white: #fff;
@gray: #BDC3C7;
@primary5: lighten(@primary, 5%);
@primary10: lighten(@primary, 10%);
@primary20: lighten(@primary, 20%);

@alt: spin(@primary, -30);