body {
	font: 12px arial;
	margin: 0;
}

#site {
	width: 800px;
	margin: 0 auto;
}

.example {
	height: 500px;
	border: solid black 2px;
}

.nav:after {
	content: "";
	display: block;
	clear: both;
}

.nav {
	padding: 0;
	margin: 20px 0;
	list-style: none;
}

.nav li {
	float: left;
	padding: 10px 20px;
}